In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("zufang1.csv")

In [4]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>sqrt</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>5</td>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>6</td>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>7</td>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>8</td>
      <td>116.416490</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>9</td>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
del df["Unnamed: 0.1"]

In [6]:
df = df

In [7]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>sqrt</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>116.416490</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df[df['location'].isin(["东城"])]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>sqrt</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>116.416490</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>116.404452</td>
      <td>39.900776</td>
      <td>东城 - 前门东大街</td>
      <td>41</td>
      <td>6</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>116.431656</td>
      <td>39.922110</td>
      <td>东城 - 北京INN</td>
      <td>25</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>116.438131</td>
      <td>39.939560</td>
      <td>东城 - 十字坡西里</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>116.437597</td>
      <td>39.886266</td>
      <td>东城 - 光明楼小区</td>
      <td>14</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>116.425422</td>
      <td>39.883969</td>
      <td>东城 - 体育馆路</td>
      <td>23</td>
      <td>4</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>116.423075</td>
      <td>39.963729</td>
      <td>东城 - 和平街十区</td>
      <td>4</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>116.410991</td>
      <td>39.933102</td>
      <td>东城 - 华人一品阁</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>116.415543</td>
      <td>39.905297</td>
      <td>东城 - 台基厂小区</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>116.395015</td>
      <td>39.945906</td>
      <td>东城 - 国旺胡同</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>116.408698</td>
      <td>39.863057</td>
      <td>东城 - 安乐林小区</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>116.403869</td>
      <td>39.861430</td>
      <td>东城 - 宝华里</td>
      <td>14</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>116.422408</td>
      <td>39.940229</td>
      <td>东城 - 大菊胡同</td>
      <td>5</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>116.424793</td>
      <td>39.938193</td>
      <td>东城 - 小菊胡同</td>
      <td>7</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>116.418484</td>
      <td>39.945401</td>
      <td>东城 - 戏楼胡同</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>116.427150</td>
      <td>39.926489</td>
      <td>东城 - 朝内北小街</td>
      <td>4</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>116.428135</td>
      <td>39.942008</td>
      <td>东城 - Naga上院</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>116.437920</td>
      <td>39.948074</td>
      <td>东城 - 万国城</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>116.406963</td>
      <td>39.953746</td>
      <td>东城 - 上龙嘉园</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>116.404827</td>
      <td>39.915257</td>
      <td>东城 - 东华门大街</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>116.438224</td>
      <td>39.888702</td>
      <td>东城 - solo一期绿景苑</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>116.429038</td>
      <td>39.900221</td>
      <td>东城 - 东后河沿</td>
      <td>5</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>116.421654</td>
      <td>39.932972</td>
      <td>东城 - 东四九条</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>116.421394</td>
      <td>39.931524</td>
      <td>东城 - 东四七条</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>116.417159</td>
      <td>39.932493</td>
      <td>东城 - 东四北大街</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>116.423334</td>
      <td>39.932301</td>
      <td>东城 - 东四八条</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>380</th>
      <td>380</td>
      <td>116.413867</td>
      <td>39.927855</td>
      <td>东城 - 钱粮胡同</td>
      <td>5</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>381</th>
      <td>381</td>
      <td>116.430907</td>
      <td>39.961779</td>
      <td>东城 - 锦鸿阁</td>
      <td>58</td>
      <td>7</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>382</th>
      <td>382</td>
      <td>116.427272</td>
      <td>39.876645</td>
      <td>东城 - 长青园</td>
      <td>19</td>
      <td>4</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>383</th>
      <td>383</td>
      <td>116.440711</td>
      <td>39.935656</td>
      <td>东城 - 阳光都市</td>
      <td>84</td>
      <td>9</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>384</th>
      <td>384</td>
      <td>116.407140</td>
      <td>39.932866</td>
      <td>东城 - 阳春胡同</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>385</th>
      <td>385</td>
      <td>116.420155</td>
      <td>39.950516</td>
      <td>东城 - 雍和家园</td>
      <td>22</td>
      <td>4</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>386</th>
      <td>386</td>
      <td>116.408105</td>
      <td>39.909966</td>
      <td>东城 - 霞公府</td>
      <td>21</td>
      <td>4</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>387</th>
      <td>387</td>
      <td>116.416637</td>
      <td>39.962856</td>
      <td>东城 - 青年沟23号院</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>388</th>
      <td>388</td>
      <td>116.406559</td>
      <td>39.956065</td>
      <td>东城 - 青年湖东里</td>
      <td>30</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>389</th>
      <td>389</td>
      <td>116.405466</td>
      <td>39.959900</td>
      <td>东城 - 青年湖北街</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>390</th>
      <td>390</td>
      <td>116.405762</td>
      <td>39.957817</td>
      <td>东城 - 青年湖北里</td>
      <td>6</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>391</th>
      <td>391</td>
      <td>116.398583</td>
      <td>39.954445</td>
      <td>东城 - 青年湖西里</td>
      <td>15</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>392</th>
      <td>392</td>
      <td>116.415673</td>
      <td>39.944938</td>
      <td>东城 - 青炭局胡同</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>393</th>
      <td>393</td>
      <td>116.408233</td>
      <td>39.916936</td>
      <td>东城 - 韶九胡同</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>394</th>
      <td>394</td>
      <td>116.441681</td>
      <td>39.893102</td>
      <td>东城 - 领行国际</td>
      <td>12</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>395</th>
      <td>395</td>
      <td>116.441681</td>
      <td>39.893102</td>
      <td>东城 - 领行国际中心</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>396</th>
      <td>396</td>
      <td>116.438988</td>
      <td>39.946930</td>
      <td>东城 - 香河园</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>397</th>
      <td>397</td>
      <td>116.437245</td>
      <td>39.952067</td>
      <td>东城 - 香河园北里</td>
      <td>32</td>
      <td>5</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>398</th>
      <td>398</td>
      <td>116.412494</td>
      <td>39.939283</td>
      <td>东城 - 香饵胡同</td>
      <td>8</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>399</th>
      <td>399</td>
      <td>116.405060</td>
      <td>39.919681</td>
      <td>东城 - 骑河楼大街小区</td>
      <td>2</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>400</th>
      <td>400</td>
      <td>116.424471</td>
      <td>39.923844</td>
      <td>东城 - 鸿安国际大厦</td>
      <td>5</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>401</th>
      <td>401</td>
      <td>116.414323</td>
      <td>39.931496</td>
      <td>东城 - 魏家胡同</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>402</th>
      <td>402</td>
      <td>116.403757</td>
      <td>39.958385</td>
      <td>东城 - 黄寺大街2号院</td>
      <td>4</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>403</th>
      <td>403</td>
      <td>116.409358</td>
      <td>39.864638</td>
      <td>东城 - 鼎盛园</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>404</th>
      <td>404</td>
      <td>116.402850</td>
      <td>39.940942</td>
      <td>东城 - 鼓楼东大街小区</td>
      <td>9</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>405</th>
      <td>405</td>
      <td>116.396670</td>
      <td>39.938943</td>
      <td>东城 - 鼓楼辛安里胡同</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>406</th>
      <td>406</td>
      <td>116.437181</td>
      <td>39.882061</td>
      <td>东城 - 龙潭北里</td>
      <td>3</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>407</th>
      <td>407</td>
      <td>116.437030</td>
      <td>39.881620</td>
      <td>东城 - 龙潭北里小区</td>
      <td>5</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>408</th>
      <td>408</td>
      <td>116.427083</td>
      <td>39.879753</td>
      <td>东城 - 龙潭西里</td>
      <td>15</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>409</th>
      <td>409</td>
      <td>116.437478</td>
      <td>39.882920</td>
      <td>东城 - 龙腾阁</td>
      <td>1</td>
      <td>1</td>
      <td>东城</td>
    </tr>
  </tbody>
</table>
<p>410 rows × 7 columns</p>
</div>

In [9]:
df4 =df[df.lat>38.908768]

In [10]:
del df4["sqrt"]

In [11]:
df4.tail(3)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5037</th>
      <td>5037</td>
      <td>116.504236</td>
      <td>40.086754</td>
      <td>顺义 - 龙湾别墅·棠尚</td>
      <td>6</td>
      <td>顺义</td>
    </tr>
    <tr>
      <th>5038</th>
      <td>5038</td>
      <td>116.669187</td>
      <td>40.205251</td>
      <td>顺义 - 龙湖香醍溪岸洋房</td>
      <td>1</td>
      <td>顺义</td>
    </tr>
    <tr>
      <th>5039</th>
      <td>5039</td>
      <td>116.636622</td>
      <td>40.137169</td>
      <td>顺义 - 当代北辰悦MOMA</td>
      <td>7</td>
      <td>顺义</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
df4.to_csv("1.csv",encoding="utf-8")

In [13]:
dnf = pd.read_csv("2.csv")

In [14]:
dnf.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>_id</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5a39fdeca5d9663c641fec6c</td>
      <td>116.472517</td>
      <td>40.086536</td>
      <td>name</td>
      <td>number</td>
      <td>name</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5a39fdeda5d9663c641fec6d</td>
      <td>116.405125</td>
      <td>39.923047</td>
      <td>东城 - 沙滩南巷小区</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5a39fdeea5d9663c641fec6e</td>
      <td>116.455550</td>
      <td>39.918186</td>
      <td>大兴 - 兴盛国际公寓</td>
      <td>2</td>
      <td>大兴</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5a39fdf0a5d9663c641fec6f</td>
      <td>116.606466</td>
      <td>39.927837</td>
      <td>朝阳 - 富力阳光美居</td>
      <td>51</td>
      <td>朝阳</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5a39fdf1a5d9663c641fec70</td>
      <td>116.444695</td>
      <td>39.934713</td>
      <td>朝阳 - 永利国际中心</td>
      <td>34</td>
      <td>朝阳</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
del dnf["_id"]

In [16]:
dnf.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>116.472517</td>
      <td>40.086536</td>
      <td>name</td>
      <td>number</td>
      <td>name</td>
    </tr>
    <tr>
      <th>1</th>
      <td>116.405125</td>
      <td>39.923047</td>
      <td>东城 - 沙滩南巷小区</td>
      <td>1</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>116.455550</td>
      <td>39.918186</td>
      <td>大兴 - 兴盛国际公寓</td>
      <td>2</td>
      <td>大兴</td>
    </tr>
    <tr>
      <th>3</th>
      <td>116.606466</td>
      <td>39.927837</td>
      <td>朝阳 - 富力阳光美居</td>
      <td>51</td>
      <td>朝阳</td>
    </tr>
    <tr>
      <th>4</th>
      <td>116.444695</td>
      <td>39.934713</td>
      <td>朝阳 - 永利国际中心</td>
      <td>34</td>
      <td>朝阳</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
df4.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>116.416490</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
      <td>东城</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
      <td>东城</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
pieces =[df4[:],dnf[1:]]

In [19]:
df5 = pd.concat(pieces)

In [20]:
del df5[""]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>lat</th>
      <th>location</th>
      <th>lon</th>
      <th>name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>39.925557</td>
      <td>东城</td>
      <td>116.410285</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>39.890148</td>
      <td>东城</td>
      <td>116.437104</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>39.935898</td>
      <td>东城</td>
      <td>116.436151</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3.0</td>
      <td>39.960881</td>
      <td>东城</td>
      <td>116.416490</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4.0</td>
      <td>39.942675</td>
      <td>东城</td>
      <td>116.412749</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
df5.to_csv("zufang2.txt",encoding="utf-8")