In [ ]:
import pymongo
import pandas as pd

In [3]:
client = pymongo.MongoClient("localhost",connect=False)

In [4]:
db = client["Zufang-beijing-530"]

In [5]:
table = db["location"]

In [6]:
data = pd.DataFrame(list(table.find()))

In [7]:
del data["_id"]

In [8]:
df = data.drop_duplicates()

In [17]:
df= df[1:]

In [18]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lat</th>
      <th>lon</th>
      <th>name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>116.41649</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
    </tr>
    <tr>
      <th>9</th>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
df.to_csv("zufang.csv",encoding="utf-8")

In [20]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lat</th>
      <th>lon</th>
      <th>name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>116.41649</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
    </tr>
    <tr>
      <th>9</th>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
df = df.rename(columns={"lat":"lon","lon":"lat"})

In [22]:
df.to_csv("zufang.csv",encoding="utf-8")

In [23]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lon</th>
      <th>lat</th>
      <th>name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>116.41649</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
    </tr>
    <tr>
      <th>9</th>
      <td>116.412749</td>
      <td>39.942675</td>
      <td>东城 - 交道口北二条</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
len(df)

5040

In [25]:
for i in range(1,len(df)):
    number = df.iat[i,4]
    print(number)

IndexError: index 4 is out of bounds for axis 0 with size 4