In [1]:
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient("localhost",connect=False)

In [3]:
db = client["Zufang-beijing-530"]

In [4]:
table = db["location"]

In [5]:
data = pd.DataFrame(list(table.find()))

In [9]:
del data["_id"]

In [10]:
df = data.drop_duplicates()

In [13]:
df= df[1:]

In [14]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lat</th>
      <th>lon</th>
      <th>name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>116.452544</td>
      <td>39.918360</td>
      <td>CBD - 世界城</td>
      <td>122</td>
    </tr>
    <tr>
      <th>5</th>
      <td>116.410285</td>
      <td>39.925557</td>
      <td>东城 - 东单四合院</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>116.437104</td>
      <td>39.890148</td>
      <td>东城 - FREE自由季</td>
      <td>25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>116.436151</td>
      <td>39.935898</td>
      <td>东城 - 东环公寓</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>116.41649</td>
      <td>39.960881</td>
      <td>东城 - 化工大院</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
df.to_csv("zufang.csv",encoding="utf-8")