In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("zufang1.csv")

In [42]:
df.head()

,Unnamed: 0,Unnamed: 0.1,lon,lat,name,number,sqrt,location
0,0,5,116.410285,39.925557,东城 - 东单四合院,3,1,东城
1,1,6,116.437104,39.890148,东城 - FREE自由季,25,5,东城
2,2,7,116.436151,39.935898,东城 - 东环公寓,2,1,东城
3,3,8,116.416490,39.960881,东城 - 化工大院,14,3,东城
4,4,9,116.412749,39.942675,东城 - 交道口北二条,6,2,东城

In [43]:
del df["Unnamed: 0.1"]

In [44]:
df = df

In [45]:
df.head()

   Unnamed: 0         lon        lat          name  number  sqrt location
0           0  116.410285  39.925557    东城 - 东单四合院       3     1       东城
1           1  116.437104  39.890148  东城 - FREE自由季      25     5       东城
2           2  116.436151  39.935898     东城 - 东环公寓       2     1       东城
3           3  116.416490  39.960881     东城 - 化工大院      14     3       东城
4           4  116.412749  39.942675   东城 - 交道口北二条       6     2       东城

In [46]:
df[df['location'].isin(["东城"])]

     Unnamed: 0         lon        lat            name  number  sqrt location
0             0  116.410285  39.925557      东城 - 东单四合院       3     1       东城
1             1  116.437104  39.890148    东城 - FREE自由季      25     5       东城
2             2  116.436151  39.935898       东城 - 东环公寓       2     1       东城
3             3  116.416490  39.960881       东城 - 化工大院      14     3       东城
4             4  116.412749  39.942675     东城 - 交道口北二条       6     2       东城
5             5  116.404452  39.900776      东城 - 前门东大街      41     6       东城
6             6  116.431656  39.922110      东城 - 北京INN      25     5       东城
7             7  116.438131  39.939560      东城 - 十字坡西里       2     1       东城
8             8  116.437597  39.886266      东城 - 光明楼小区      14     3       东城
9             9  116.425422  39.883969       东城 - 体育馆路      23     4       东城
10           10  116.423075  39.963729      东城 - 和平街十区       4     2       东城
11           11  116.410991  39.933102      东城 - 华人一品阁       1     1       东城
12           12  116.415543  39.905297      东城 - 台基厂小区       2     1       东城
13           13  116.395015  39.945906       东城 - 国旺胡同       1     1       东城
14           14  116.408698  39.863057      东城 - 安乐林小区       1     1       东城
15           15  116.403869  39.861430        东城 - 宝华里      14     3       东城
16           16  116.422408  39.940229       东城 - 大菊胡同       5     2       东城
17           17  116.424793  39.938193       东城 - 小菊胡同       7     2       东城
18           18  116.418484  39.945401       东城 - 戏楼胡同       2     1       东城
19           19  116.427150  39.926489      东城 - 朝内北小街       4     2       东城
20           20  116.428135  39.942008     东城 - Naga上院       2     1       东城
21           21  116.437920  39.948074        东城 - 万国城       6     2       东城
22           22  116.406963  39.953746       东城 - 上龙嘉园       1     1       东城
23           23  116.404827  39.915257      东城 - 东华门大街       1     1       东城
24           24  116.438224  39.888702  东城 - solo一期绿景苑       6     2       东城
25           25  116.429038  39.900221       东城 - 东后河沿       5     2       东城
26           26  116.421654  39.932972       东城 - 东四九条       1     1       东城
27           27  116.421394  39.931524       东城 - 东四七条       1     1       东城
28           28  116.417159  39.932493      东城 - 东四北大街       3     1       东城
29           29  116.423334  39.932301       东城 - 东四八条       3     1       东城
..          ...         ...        ...             ...     ...   ...      ...
380         380  116.413867  39.927855       东城 - 钱粮胡同       5     2       东城
381         381  116.430907  39.961779        东城 - 锦鸿阁      58     7       东城
382         382  116.427272  39.876645        东城 - 长青园      19     4       东城
383         383  116.440711  39.935656       东城 - 阳光都市      84     9       东城
384         384  116.407140  39.932866       东城 - 阳春胡同       2     1       东城
385         385  116.420155  39.950516       东城 - 雍和家园      22     4       东城
386         386  116.408105  39.909966        东城 - 霞公府      21     4       东城
387         387  116.416637  39.962856    东城 - 青年沟23号院       3     1       东城
388         388  116.406559  39.956065      东城 - 青年湖东里      30     5       东城
389         389  116.405466  39.959900      东城 - 青年湖北街       2     1       东城
390         390  116.405762  39.957817      东城 - 青年湖北里       6     2       东城
391         391  116.398583  39.954445      东城 - 青年湖西里      15     3       东城
392         392  116.415673  39.944938      东城 - 青炭局胡同       3     1       东城
393         393  116.408233  39.916936       东城 - 韶九胡同       1     1       东城
394         394  116.441681  39.893102       东城 - 领行国际      12     3       东城
395         395  116.441681  39.893102     东城 - 领行国际中心       1     1       东城
396         396  116.438988  39.946930        东城 - 香河园       3     1       东城
397         397  116.437245  39.952067      东城 - 香河园北里      32     5       东城
398         398  116.412494  39.939283       东城 - 香饵胡同       8     2       东城
399         399  116.405060  39.919681    东城 - 骑河楼大街小区       2     1       东城
400         400  116.424471  39.923844     东城 - 鸿安国际大厦       5     2       东城
401         401  116.414323  39.931496       东城 - 魏家胡同       3     1       东城
402         402  116.403757  39.958385    东城 - 黄寺大街2号院       4     2       东城
403         403  116.409358  39.864638        东城 - 鼎盛园       3     1       东城
404         404  116.402850  39.940942    东城 - 鼓楼东大街小区       9     3       东城
405         405  116.396670  39.938943    东城 - 鼓楼辛安里胡同       1     1       东城
406         406  116.437181  39.882061       东城 - 龙潭北里       3     1       东城
407         407  116.437030  39.881620     东城 - 龙潭北里小区       5     2       东城
408         408  116.427083  39.879753       东城 - 龙潭西里      15     3       东城
409         409  116.437478  39.882920        东城 - 龙腾阁       1     1       东城

[410 rows x 7 columns]

In [51]:
df4 =df[df.lat>38.908768]

In [56]:
del df4["sqrt"]

In [57]:
df4.tail(3)

             lon        lat            name  number location
5037  116.504236  40.086754    顺义 - 龙湾别墅·棠尚       6       顺义
5038  116.669187  40.205251   顺义 - 龙湖香醍溪岸洋房       1       顺义
5039  116.636622  40.137169  顺义 - 当代北辰悦MOMA       7       顺义

In [58]:
df4.to_csv("1.csv",encoding="utf-8")

In [59]:
dnf = pd.read_csv("2.csv")

In [60]:
dnf.head()

,_id,lon,lat,name,number,location
0,5a39fdeca5d9663c641fec6c,116.472517,40.086536,name,number,name
1,5a39fdeda5d9663c641fec6d,116.405125,39.923047,东城 - 沙滩南巷小区,1,东城
2,5a39fdeea5d9663c641fec6e,116.455550,39.918186,大兴 - 兴盛国际公寓,2,大兴
3,5a39fdf0a5d9663c641fec6f,116.606466,39.927837,朝阳 - 富力阳光美居,51,朝阳
4,5a39fdf1a5d9663c641fec70,116.444695,39.934713,朝阳 - 永利国际中心,34,朝阳

In [61]:
del dnf["_id"]

In [62]:
dnf.head()

          lon        lat         name  number location
0  116.472517  40.086536         name  number     name
1  116.405125  39.923047  东城 - 沙滩南巷小区       1       东城
2  116.455550  39.918186  大兴 - 兴盛国际公寓       2       大兴
3  116.606466  39.927837  朝阳 - 富力阳光美居      51       朝阳
4  116.444695  39.934713  朝阳 - 永利国际中心      34       朝阳

In [63]:
df4.head()

          lon        lat          name  number location
0  116.410285  39.925557    东城 - 东单四合院       3       东城
1  116.437104  39.890148  东城 - FREE自由季      25       东城
2  116.436151  39.935898     东城 - 东环公寓       2       东城
3  116.416490  39.960881     东城 - 化工大院      14       东城
4  116.412749  39.942675   东城 - 交道口北二条       6       东城

In [67]:
pieces =[df4[:],dnf[1:]]

In [69]:
df5 = pd.concat(pieces)

In [72]:
df5.head()

          lon        lat          name number location
0  116.410285  39.925557    东城 - 东单四合院      3       东城
1  116.437104  39.890148  东城 - FREE自由季     25       东城
2  116.436151  39.935898     东城 - 东环公寓      2       东城
3  116.416490  39.960881     东城 - 化工大院     14       东城
4  116.412749  39.942675   东城 - 交道口北二条      6       东城

In [73]:
df5.to_csv("zufang2.txt",encoding="utf-8")